.myappointment-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 120px;
    border: 3px solid #6e7ae6;
    margin: 16px 0;
    width: 100%;
    max-width: 1600px; 
    overflow: hidden;
    padding: 16px; 
}

.appointment-pet-image {
    width: 150px;
    height: 150px;
    margin: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.appointment-info {
    flex: 1;
    margin-left: 24px;
}

.pet-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #606060;
}

p {
    font-size: 1.1rem;
    color: #9E9E9E;
    margin-top: 8px;
    font-weight: bold;
}

.btn-delete-btn {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #606060;
    cursor: pointer;
    transition: color 0.3s ease;
    align-self: center; 
    margin-right: 24px; 
}

.btn-delete-btn:hover {
    color: #e94e77;
}
