.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 2px solid #6E7AE6;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 20px auto;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #19486D;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #6E7AE6;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logout-button {
    background-color: #19486D;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #6E7AE6;
  }
  
  .user-icon {
    font-size: 24px;
    color: #19486D;
    cursor: pointer;
  }
  /* Promociones */
.promotions-section {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
  }
  
  .promotions-title {
    font-size: 2rem;
    color: #6E7AE6;
    margin-bottom: 1rem;
  }
  
  /* Carrusel */
  .carousel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Ancho total para 3 imágenes */
  }
  
  .carousel-images img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Flechas del carrusel */
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 1;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }
  