.my-pet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    overflow: hidden;
    flex-direction: column;
}

.close-btn {
    position: fixed;
    top: 40px;
    right: 50px;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #6e7ae6;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .close-button:hover {
    color: #5563c1;
    transform: scale(1.2);
  }
  

#decoracion-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    max-width: 100%;
    transform: rotate(180deg) scaleX(-1);

}